menu "SublimeLight-5G configuration"

config SL5G_WIFI_SSID
    string "WiFi SSID"
    default "entropia-iot"
    help
	SSID (network name) to connect to.

config SL5G_WIFI_PASSWORD
    string "WiFi Password"
    default "password"
    help
	WiFi password (WPA or WPA2) to use.

endmenu
